* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins-ExtraBold";
    src: url(../fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins-Medium.ttf);
}

body{
    width: 1920px;
    height: 6124px;
    font-size: 16px;
}

.header{
    display: flex;
    justify-self: center;

    a{
        text-decoration: none;
        color: #444444;
    }
    
    &-nav{
        margin-top: 25px;
        width: 1350px;
        height: 54px;
        display: flex;
        align-items: center;

        background-color:antiquewhite;

        &-name{
            width: 240px;
            height: 48px;
            align-items: center;

            &-p-Poppins-ExtreBold{
                font-family: 'Poppins-ExtraBold';
                font-size: 2rem;
            }

            &-p-Poppins-Regular{
                font-family: 'Poppins-Regular';
                font-size: 2rem;
                letter-spacing: 0.05em;
                color: #444444;
                height: 48px;
            }
        }
    
        &-main-nav{
            margin-left: 25.75em;
            width: 442px;
            height: 24px;
            display: flex;

            background-color: azure;

            li{
                font-family: 'Poppins-Regular';
                font-size: 1rem;
                color: #444444;
                display: inline-block;
                margin-left: 2.8125em;
            }

            .Home{
                font-family: 'Poppins-Bold';
                margin: 0;
            }
        }

        &-search{
            width: 18px;
            height: 18px;
            margin-left: 1.875em;
            margin-right: 1.875em;
        }

        &-payblock{
            width: 178px;
            height: 54px;
            background-color: #444444;
            border-radius: 27px;
            display: flex;
            align-items: center;
            justify-content: center;

            &-p{
                font-family: 'Poppins-Medium';
                color: #FFFFFF;
                width: 128px;
                height: 24px;
                text-align: center;
            }
        }
    }
}